<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Logo pink-1.png", class: "logo-navbar" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged I need to replace -->
      <%= link_to image_tag("full_heart_icon.png"), "#", class: "favorites-navbar avatar" %>
      <span class="badge"><%= Match.where(user_id: current_user, status: "yes").count %></span>



      <!-- Avatar with dropdown menu I need to replace -->
      <div class="navbar-wagon-item">
        <div class="dropdown">

          <% fb_url = current_user.facebook_picture_url || "icons_about_user.png" %>
          <%= image_tag fb_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div> <!-- div class="dropdown" -->
      </div> <!-- div class="navbar-wagon-item" -->

    <% else %>

    <!-- Login link (when logged out) -->
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg" style="display: flex;">
<div>
    <% if current_user %>
      <%= link_to search_path do %>
        <i id="search-icon" class="fas fa-search"></i>
      <% end %>

      <%= link_to user_matches_path(current_user.id) do %>
        <i id="icon-matches" class="fab fa-gratipay"></i>

        <span class="badge"><%= Match.where(user_id: current_user, status: "yes").count %></span>

      <% end %>
    <% end %>
</div>
    <div class="dropdown">

      <%= image_tag "icons_about_user.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

