<div class="matches-wrapper">
  <div class="user-welcome">
    <h1>Hello <%= current_user.email.split("@")[0]%> :)</h1>
    <p>The places you love:</p>
  </div>

  <div class="card-matches container">
    <div class="row">
    <% @user_matches.each do |single_match| %>
      <% if single_match.place.google_data["photos"][0] %>

      <div class="col-xs-6">
        <div class="main-card-matches">

          <%= link_to place_path(single_match.place) do %>
           <div class="photo-card" style="background: url('<%= asset_url single_match.place.image_url %>') no-repeat;"></div>
          <% end %>


          <h3 class="card-category">
            <%= link_to single_match.place.name, place_path(single_match.place) %>

            </h3>
          <div class="wrapper-heart">
            <div class="delete-heart">

              <%= link_to match_path(single_match), method: :delete do %>
                  <i class="far fa-trash-alt"></i>
              <% end %>

            </div>
            <div class="icon-matches">
              <div><%= single_match.place.matches.count %> </div>
              <i class="fa fa-heart" style="size:1px";></i>
            </div>
          </div>
        </div>
      </div>

      <% end %>
    <% end %>
  </div> <!-- / row -->


  </div>
</div>




