<div class="tinder">

  <div class="tinder--cards">
    <% @places.each do |place|  %>
      <% if place.google_data["opening_hours"] %>
        <% if place.google_data["opening_hours"]["open_now"] %>

          <div class="tinder--card">
            <%= link_to place_path(place) do %>
              <% if place.google_data["photos"] != nil %>
                <% photo_reference = place.google_data["photos"][0]["photo_reference"] %>
                <% url = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{photo_reference}&key=AIzaSyBgvkz1otrXFV3sQgk5vgRjY_9VER152_4"  %>

                <%= image_tag url %>

               <% end %> <%# END of IF  %>
            <% end %> <%# END of LINK_TO  %>

            <h3>
              <%= link_to place.name, place_path(place)  %>
            </h3>
            <p><%= place.google_data["rating"] %></p>
            <p>places.address</p>
            <p>
              <%= link_to "match it", place_matches_path(place, {:place => {:place_id =>  place.id }}), :action => :create, :method => :post %>
              <i class="fas fa-hand-holding-heart"></i>
            </p>
          </div>

      <%= link_to "match it", place_matches_path(place, {:place => {:place_id =>  place.id }}), :action => :create, :method => :post %>
      <i class="fas fa-hand-holding-heart"></i>
    </p>

  <% end %> <%# END of ["opening_hours"] %>
  <% end %> <%# END of ["opening_hours"]["open_now"] %>
  <% end %> <%# END of @places.each do |place| %>

  </div>

</div>
